.Maze {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.Maze__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Start {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
}

